[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
python-telegram-bot = "*"
psycopg2 = "*"
requests = "*"
sqlalchemy-utils = "*"
flask-migrate = "*"

[dev-packages]
pylint = "*"
pytest = "*"
python-dotenv = "*"
pylint-flask-sqlalchemy = "*"

[requires]
python_version = "3.10"
